<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BotLeituraExcell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PrimeiraExecucao" value="false" />
    <add key="AnoPrimeiraExec" value="2020"/>
    <add key="CaminhoArquivos" value="C:\Users\luisf\Documents\InformacoesPorto"/>
  </appSettings>
  <connectionStrings>
    <add name="InformacoesPlanilhaContext" connectionString="Data Source=LAPTOP-CED4NVER\SQLEXPRESS;Initial Catalog=DadosPlanilhasPortoDev;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="InformacoesPlanilhaContext" connectionString="Data Source=07HW011616;Initial Catalog=InformacoesDadosDBDev;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>